<?xml version='1.0' encoding='utf-8'?>
<widget id="ru.seotlt.victory" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Alternativa</name>
    <description>
       Alternativa
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <icon src="images/pages/logo.png" />
    <platform name="android">
        <preference name="android-minSdkVersion" value="14" />
        <allow-intent href="market:*" />
        <feature name="Geolocation">
            <param name="android-package" value="org.apache.cordova.GeoBroker" />
        </feature>
        <icon src="images/pages/logo.png" platform="android" qualifier="ldpi" />
        <icon src="images/pages/logo.png" platform="android" qualifier="mdpi" />
        <icon src="images/pages/logo.png" platform="android" qualifier="hdpi" />
        <icon src="images/pages/logo.png" platform="android" qualifier="xhdpi" />
        <icon src="images/pages/logo.png" platform="android" qualifier="xxhdpi" />
        <icon src="images/pages/logo.png" platform="android" qualifier="fr-xxhdpi" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="BackupWebStorage" value="none" />
        <feature name="Geolocation">
            <param name="ios-package" value="CDVLocation" />
        </feature>
        <icon src="images/pages/logo.png" platform="ios" width="50" height="50" />
    </platform>
    <preference name="DisallowOverscroll" value="true" />
    <plugin name="cordova-plugin-whitelist" spec="~1.2.0" />
    <plugin name="cordova-plugin-console" spec="~1.0.1" />
    <plugin name="cordova-plugin-statusbar" spec="~1.0.1" />
   
</widget>
